<!-- Our very simple template that defines a tool pane and two canvases, one for
rendering our flowchart and one for rendering our visualizer. -->
<div class="tool-pane">
  <ol>
    <li id="item{{$index}}" class="{{item.hash.dataType}}" ng-repeat="item in flowchart.items" on-finish-render="ngRepeatFinished">{{item.hash.description}}</li>
  </ol>
  <ul>
    Need:<br>
    <li ng-repeat="component in missingComponents" class="{{component.dataType}}" >{{component.name}}</li>
  </ul>
  &nbsp&nbsp&nbspShader blend mode:
  <select ng-model="selectedBlendMode">
    <option ng-repeat="mode in blendModes">{{mode}}</option>
  </select>
</div>
<!--<canvas id="flowchart" class="top-pane" ></canvas>-->
<div class="demo flowchart-demo top-pane" id="flowchart-demo">
  <div class="window component-window display-window" id="flowchartWindow0"><strong>DISPLAY</strong></div>
  <div class="window component-window {{component.hash.dataType}}" id="{{component.domElementId}}" ng-repeat="component in flowchart.activeComponents"><strong>{{component.hash.description}}</strong></div>
</div>
<canvas id="preview" class="bottom-pane" height="900"></canvas>
<canvas id="analysis" style="width: 100%; height: 50%;" width="1440" height="900"></canvas>
